# MQTT
MQTT_HOST=your-mqtt-host
MQTT_PORT=1883
MQTT_USERNAME=your-username
MQTT_PASSWORD=your-password

# Inverter
MASTER_HOST=192.168.1.10
SLAVE_HOST=192.168.1.11

# Modbus
MODBUS_UNIT_ID=247
MODBUS_PORT=502

# Polling
POLL_INTERVAL=10

# MQTT base topic
BASE_TOPIC=goodwe_direct

# Debug (optional)
DEBUG_MODBUS=false
DEBUG_DECODE=false
DEBUG_COMBINE=true
